@import "fonts";
@import '../../node_modules/bulma/bulma.sass';
@import 'navbar';
@import 'colors';
@import 'banner';
@import 'TeamPage';
@import 'hero';
@import 'recommendeddishes';
@import 'AboutChefPage';

body {
    font-family: 'Cormorant Garamond', serif;

    p, a, h4, button, label, input {
        font-family: 'Raleway', sans-serif;
    }

    label.label {
        font-weight: 600;
    }

    .content h1 {
        font-size: 40px;
    }

    .content h4 {
        font-weight: 400;
    }
}

section.section {
    padding-block: 4.5rem;
}


footer.footer {
    background-color: $dark-blue;
    color: $text;
    padding-bottom: 4rem;
}

