@import 'colors';

nav.navbar {
    padding-inline: 6rem;
    padding-block: 1.5rem;
    background-color: $dark-blue;
    color: $text;

    a.navbar-item {
        color: $text;
    }

    a.navbar-item:hover {
        color: $dark-blue;
    }

    a.navbar-item:focus {
        color: $dark-blue;
    }

    a.navbar-burger {
        color: $text;
    }

    .navbar-brand {
        .navbar-item {
            padding: 0;
        }
    }

    .navbar-end {
        a.navbar-item {
            padding-block: 0;
        }
    }
}